<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop - homepage</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/shop/index.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li>
          <a href="/cart">Cart [<span id="productsSumInCart">0</span>]</a>
        </li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </nav>
    <div class="container">
      <h2>Product Cards</h2>
      <div class="card-container">
        <% if(products.length >0) { products.forEach(product => { %>
        <div class="card">
          <h3 class="card-title"><%=product.title%></h3>
          <p class="card-price"><%=product.price.toFixed(2) + '€'%></p>
          <div class="card-buttons">
            <a
              class="card-button see-more-button"
              href="/product/<%=product.id%>"
              >See More</a
            >
            <button
              class="card-button add-to-cart-button"
              onclick="addProductToCard('<%=product.id%>')"
            >
              Add to Cart
            </button>
          </div>
        </div>
        <% }) } else { %>
        <h1>No products found!</h1>
        <% } %>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/localStorage.js"></script>
  </body>
</html>
