* {
    //border: 1px solid red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }

    body {
        background-color: black;
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
    }

    p {
        font-size: 18px;
        text-align: justify;
        margin: 15px 50px;
    }

    .navbar {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        background-color: black;
        border-bottom: 1px solid white;
    }

    .dropbutton {
        display: none;
        margin: 5px;
        padding: 5px;
        font-size: 20px;
        width: 50px;
        border-radius: 10px;
        background-color: white;
    }

    .dropdown-content a {
        display: inline-block;
        text-decoration: none;
        color: white;
        padding: 5px;
        text-align: center;
        border: 1px solid white;
        background-color: black;

        
    }

    .dropdown-content a:hover {
        background-color: white;
        color: black;   
        cursor: pointer;
    }
    
    .dropbutton:hover {
        background-color: black;
        color: white;
        border-color: white;
        cursor: pointer;
      }


      .dropdown {
        padding: 10px 20px;
      }


    @media (max-width: 700px) {

        .navbar {
            justify-content: flex-start;
        }

        .dropbutton {
            display: block;
        }

        .dropdown {
            display: inline-block;
        }

    .dropdown-content {
        display: none;
      
    }


    
    .dropdown-content a {
        display: block;

    }



    .dropdown:hover .dropdown-content {
        display: block;
        -webkit-animation: fadeIn 2s;
        animation: fadeIn 2s;
     
    }

    .dropdown:hover {
        width: 100%;
    }


    @-webkit-keyframes fadeIn {
        from { opacity: 0; }
          to { opacity: 1; }
    }
    @keyframes fadeIn {
        from { opacity: 0; }
          to { opacity: 1; }
    }



    }