<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sklep - strona główna</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/admin/index.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cart">Cart [0]</a></li>
        <li><a href="/admin" class="active">Admin</a></li>
      </ul>
    </nav>

    <div class="container">
      <a href="./admin/logout" class="logout-btn">Logout</a>
      <h2>All products available in shop:</h2>
      <% if(products.length > 0) { %>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Description</th>
              <th>Price</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% products.forEach(product => { %>
            <tr>
              <td><%=product.id %></td>
              <td><%=product.title %></td>
              <td><%=product.description %></td>
              <td><%=product.price.toFixed(2) + '€' %></td>
              <td><a href="#" class="edit-link">Edit</a></td>
              <td><a href="#" class="delete-link">Delete</a></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% } else { %>
      <h1>No products found!</h1>
      <% } %>
      <a href="/admin/add_new_product" class="add-new-product"
        >Add New Product</a
      >
    </div>
  </body>
</html>
