<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop - login</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/admin/login.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cart">Cart [<span id="productsSumInCart">0</span>]</a></li>
        <li><a href="/admin" class="active">Admin</a></li>
      </ul>
    </nav>
    <form action="/admin/login" method="post">
      <label for="login">Login:</label>
      <input type="text" name="login" />
      <label for="password">Password:</label>
      <input type="password" name="password" />
      <input type="submit" value="Log In"></input>

        <% if(locals.message) { %>
        <p class="login-message"><%=message%></p>
        <% } %>
    </form>
    <script type="text/javascript" src="/scripts/localStorage.js"></script>
  </body>
</html>
