@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
/* NORMALIZE CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* FONT-SIZE */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px; /* position fixed header */
  font-size: 62.5%; /* after it: 1rem=10px, 2rem=20px, 3rem=30px */
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 1.6rem;
}

/* ************************** GENERAL ************************** */

:root {
  --main-color: #0076e8;
}

.container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 20px;
}

.section-title-wrapper {
  width: 100%;
}

.section-title {
  font-size: 3.2rem;
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 300;
  border-left: 5px solid var(--main-color);
  padding-left: 0.5em;
  margin: 2em 0;
}

.section-title > span {
  font-weight: bold;
}

.bg-gray {
  background-color: rgb(248, 248, 248);
}

.bg-dark-blue {
  background-color: rgb(0, 118, 232);
}

.mmcLink {
  position: relative;
  color: #000;
  border-bottom: 2px solid var(--main-color);
  font-weight: 700;
  z-index: 0;
  text-decoration: none;
}

.mmcLink:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s;
  z-index: -1;
}

.mmcLink:hover {
  color: #fff;
  transition: color 0.3s;
}

.mmcLink:hover:after {
  transform: scaleY(1);
}

.mmcLink:focus-visible {
  background-color: var(--main-color);
}

.bold {
  font-weight: 700;
}

.btn-special-animation:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  z-index: -1;
  background-color: red;
}
.btn-special-animation:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}

/* ************************** HEADER ************************** */

.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  border-bottom: 1px solid #d8d8d8;

  position: fixed;
  top: 0;
  z-index: 10;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.header__list-item {
  padding: 1em;
}

.header__list-item > a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  transition: color 0.3s;
}

.header__list-item > a:hover {
  color: var(--main-color);
}

.burger {
  display: none;
  font-size: 4rem;
  outline: none;
  background-color: transparent;
  padding: 0.5em;
  border: none;
  cursor: pointer;
}

.burger-hide {
  transform: translateX(200%);
}

/* ************************** HOME ************************** */

.home__block-before {
  display: block;
  height: 68px;
}

.home {
  margin-top: 68px; /* beacause of header */
  background-image: url(https://mmcschool.pl/dist/img/header-big.jpg);
  height: 600px;
  background-position: 50% 0%;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.home-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
}

.home__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home__header,
.home__brand {
  color: #ffff;
  z-index: 2;
  font-size: 4rem;
  text-align: center;
}

.home__header {
  font-weight: 300;
  padding-bottom: 0.1em;
}

.home__brand {
  font-weight: 800;
}

.home .container {
  padding: 0;
}

/* ************************** FUTURE ************************** */
.future {
  display: flex;
  flex-direction: column;
}
.future__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.future__text {
  padding-left: 3em;
  font-size: 2rem;
}

.future__text > p {
  padding-bottom: 2em;
}

.future__img {
  width: 500px;
  height: 300px;
}

/* ************************** ACCORDION ************************** */
.accordion {
  display: flex;
  flex-direction: column;
}

.accordion__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TODO: delete this */
.delete-this {
  height: 400px;
  width: 80%;
  background-color: rgb(188, 183, 183);
  font-size: 7rem;
}

.accordion-btn .fa-solid {
  margin-right: 15px;
}

.accordion {
  width: 100%;
  border-radius: 8px;
}

.accordion-box {
  margin: 5px;
}

.accordion-btn {
  padding: 1em;
  width: 100%;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: left;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s;
  cursor: pointer;
  color: var(--main-color);
}

.accordion-btn:hover,
.accordion-btn:focus {
  background-color: rgb(248, 248, 248);
  outline: none;
}

.accordion-info {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(216, 216, 216);
  border-top: none;
  border-radius: 0px 0px 8px 8px;

  max-height: 0;
  opacity: 0;
  transition: max-height 0.05s ease, opacity 0.5s ease, padding 0.1s ease;
  overflow: hidden;
}

.accordion-info-text {
  padding: 0.5em;
}

.active-accordion {
  max-height: 99999px;
  opacity: 1;
  padding: 1em;
}

.active-accordion-btn {
  border-bottom: none;
  border-radius: 8px 8px 0px 0px;
}

/* **************************  OPINIONS ************************** */
.opinions {
  display: flex;
  flex-direction: column;
}

.opinions__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.opinions__wrapper p,
.opinions__wrapper a {
  font-size: 2rem;
  padding-bottom: 0.1em;
}

.opinions__wrapper > div {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
}

/* **************************  COURSES ************************** */
.courses {
  display: flex;
  flex-direction: column;
}

.courses__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
}

.courses__introduction-text {
  margin-bottom: 1em;
}

.courses__button-box {
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.courses__button-box button {
  padding: 0.7em;
  border: 1px solid rgb(188, 183, 183);
  border-radius: 5px;
  font-size: 2rem;
  margin-right: 0.3em;

  /* needed for btn-special-animation */
  position: relative;
  z-index: 0;
}

.courses__button-box button:hover {
  cursor: pointer;
}

.courses__button-box button:focus-visible {
  border: 2px solid var(--main-color);
}

.courses__button-box .btn-special-animation:before {
  background-color: rgb(205, 205, 205);
}
.courses__button-box button.courses__btn-active {
  background-color: var(--main-color);
  color: #fff;
}
.courses__button-box .courses__btn-active.btn-special-animation:before {
  background-color: #0b5ca8;
}

.courses__category-box-title {
  text-transform: uppercase;
  font-weight: 300;
  color: rgb(82, 82, 82);
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.courses__elements-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.courses__course {
  width: 25%;
  padding: 0.2em 0.2em 0.7em 0.2em;
  overflow: hidden;
}

.courses__course-img {
  width: 100%;
  border-radius: 7px;
  transition: transform 0.3s;
}

.courses__course-img:hover {
  transform: scale(0.95);
}

.courses__course-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.courses__course-title {
  padding-top: 0.5em;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--main-color);
  text-align: center;
}

.courses__additional-text-box {
  /* background-color: red; */
  /* border: 1px solid black; */
  padding: 1.1em;
  border-left: 5px solid var(--main-color);
  margin: 2em 0;
}

/* **************************  NEWSLETTER ************************** */
.newsletter {
  display: flex;
  flex-direction: column;
}

.newsletter,
.newsletter__title {
  color: white;
  border-color: white;
}

.newsletter__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.newsletter_textblock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.newsletter_textblock > p {
  font-size: 2rem;
  margin-bottom: 1em;
  line-height: 1.5em;
}

.newsletter__form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.newsletter-name-input,
.newsletter-email-input,
.newsletter-send-button {
  margin-right: 0.5em;
  border-radius: 5px;
  border: none;
  font-weight: 300;
}

.newsletter-name-input,
.newsletter-email-input {
  padding: 0.5em;
  font-size: 2rem;
  width: 300px;
  outline: none;
}

.newsletter-send-button {
  font-size: 1.5rem;
  padding: 0.9em;
  width: 100px;
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

.newsletter-send-button:hover {
  background-color: #000;
}

.newsletter-convert-kit-link {
  margin: 1.2em 0;
}
.newsletter-convert-kit-img {
  width: 110px;
}

.newsletter-privacy-policy {
  text-decoration: none;
  color: rgb(209, 206, 206);
}

.newsletter-name-input:focus-visible,
.newsletter-email-input:focus-visible {
  border: 2px solid #000;
}
.newsletter-send-button:focus-visible,
.newsletter-convert-kit-link:focus-visible,
.newsletter-privacy-policy:focus-visible {
  border: 2px solid #fff;
}

.newsletter-bg {
  width: 100%;
  height: 100%;
  position: relative;
}

.newsletter-bg-square-big {
  position: absolute;
  bottom: 50px;
  right: 350px;
  width: 300px;
  height: 300px;
  rotate: 10deg;
  border: 30px solid #4580b8;
  border-radius: 10px;
  z-index: 0;
}
.newsletter-bg-square-small {
  position: absolute;
  bottom: 90px;
  right: 670px;
  width: 150px;
  height: 150px;
  rotate: 10deg;
  border: 30px solid #4580b8;
  border-radius: 10px;
  z-index: 0;
}

/* **************************  COMMUNITY ************************** */
.community {
  display: flex;
  flex-direction: column;
}

.community__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.community__wrapper p {
  align-self: flex-start;
}

.community__wrapper2col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 1em;
}

.community__col1,
.community__col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  width: 50%;
}

.community-logoimg {
  max-height: 100px;
}

.community-title {
  text-transform: uppercase;
  padding: 0.5em 0;
}

.community-ul-li {
  padding: 0.3em 0;
}

/* **************************  MAP ************************** */
.map {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.map__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map__timeline {
  position: relative;
  width: 100%;
  max-width: 1000px;
}

.map__timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  width: 3px;
  height: 100%;
  background-color: var(--main-color);
}

.map__timeline ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0 2em;
}

.map__timeline li {
  /* display: flex; */
  width: 50%;
  padding: 2em;
  margin-bottom: 2em;
  border: 1px solid var(--main-color);
  border-radius: 7px;
  position: relative;
  line-height: 1.5em;
}

.map__timeline li:nth-child(even) {
  align-self: flex-end;
  transform: translateX(20px);
}

.map__timeline li:nth-child(odd) {
  align-self: flex-start;
  transform: translateX(-20px);
}

.map__timeline li::after {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.map__timeline li:nth-child(odd)::after {
  right: -31px;
}

.map__timeline li:nth-child(even)::after {
  left: -31px;
}

.map-beginning-text {
  font-size: 2rem;
  align-self: flex-start;
  margin-bottom: 3em;
}

.map-course-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s;
}

.map-course-link:hover {
  color: var(--main-color);
}

.map-li-medial-text {
  font-size: 1.8rem;
}

.map-li-small-text {
  font-size: 1.4rem;
}

/* map-li__info */

.map-li__info-icon {
  position: absolute;
  font-size: 2rem;
  top: 5%;
  right: 2%;
  color: rgb(47, 47, 47);
}

.map-li__info-icon:hover + .map-li__info-box {
  display: block;
}

.map-li__info-box {
  display: none;
  position: absolute;
  bottom: 105%;
  right: 0%;
  font-size: 1.5rem;
  padding: 1em 2em;
  border: 1px solid var(--main-color);
  border-radius: 7px;
  line-height: 1.5em;
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 70%;
}

/* **************************  MORE COURSES ************************** */
.moreCourses {
  display: flex;
  flex-direction: column;
}

.moreCourses__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.moreCourses__wrapper__text p {
  padding-bottom: 0.2em;
}

.moreCourses__wrapper__courses {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 2em;
}

.moreCourses__card {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 49%;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 2em;
}

.moreCourses__card a {
  text-decoration: none;
  color: var(--main-color);
}
.moreCourses__card h4 {
  font-size: 2rem;
  color: var(--main-color);
  font-weight: 500;
  padding-bottom: 2rem;
}
.moreCourses__card p {
  padding-bottom: 0.2em;
}

/* **************************  CONTACT ************************** */
.contact {
  display: flex;
  flex-direction: column;
}

.contact__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__main__wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.contact__info,
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* contact__info styles */
.contact__info {
  width: 30%;
  background-color: var(--main-color);
  color: white;
  border-radius: 5px;
  padding: 2em;
  align-self: stretch;

  position: relative;
  overflow: hidden;
}

.contact__info-bg {
  color: #4580b8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30rem;
  rotate: 10deg;
  z-index: 0;
}
.contact__info h3,
.contact__info p {
  z-index: 1;
}

.contact__info h3 {
  text-transform: uppercase;
  font-size: 3rem;
  padding-bottom: 1em;
}

.contact__info p {
  align-self: flex-start;
  font-size: 2rem;
  padding-bottom: 1em;
  line-height: 1.5em;
}

.contact-link-text {
  padding-bottom: 0.5em !important;
}
.contact-link-text > i {
  width: 35px;
}
.contact-link-text > .mmcLink {
  border-bottom: 2px solid white;
  color: white;
  font-weight: 300;
}
.contact-link-text > .mmcLink:after {
  background-color: white;
}
.contact-link-text > .mmcLink:hover {
  color: black;
}

.contact-link-text > .mmcLink:focus-visible {
  background-color: #fff;
  color: black;
}

/* contact__form styles */

.contact__form {
  width: 68%;
}

.contact__form input,
.contact__form textarea,
.contact__form-submit-btn {
  font-family: "Montserrat", sans-serif;
  color: black;
  width: 100%;
  margin-bottom: 1.3em;
  font-size: 2rem;
  outline: none;
  border: 1px solid rgb(204, 201, 201);
  border-radius: 7px;
  padding: 0.4em;
}

.contact__form-submit-btn {
  color: white;
  cursor: pointer;
  padding: 1em;
  font-size: 1.5rem;
  background-color: var(--main-color);

  /* needed for btn-special-animation */
  position: relative;
  z-index: 0;
}

.contact__form .btn-special-animation:before {
  background-color: #0b5ca8;
}

.contact__form-submit-btn:focus-visible {
  border: 2px solid black;
}

.contact-box {
  width: 100%;
  position: relative;
}
.contact-label {
  position: absolute;
  display: block;
  background-color: #fff;
  color: rgb(117, 117, 117);
  font-size: 2rem;
  top: 8px;
  left: 8px;
  padding: 0 0.2em;
  transition: all 0.3s;
}

.contact-label-active {
  top: -16px;
  left: 20px;
}

/* contact__personalData styles */

.contact__personalData__wrapper p {
  margin-top: 1em;
  line-height: 1.5em;
}

.contact__personalData__wrapper a {
  text-decoration: none;
}

/* **************************  FOOTER ************************** */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-hr {
  width: 100%;
  border: 1px solid rgb(209, 206, 206);
}

footer p {
  font-size: 2rem;
  padding: 0.5em 0;
  text-align: center;
}

/* misc */

/* .home,
.future,
.accordion,
.opinions,
.courses,
.newsletter,
.community,
.map,
.moreCourses {
  display: none;
} */

/* TODO: FOCUS ON ELEMENTS */

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: none;
  border-bottom: 2px solid var(--main-color);
}

/* MEDIA QUERIES */
@media (max-width: 1180px) {
  .contact__main__wrapper {
    flex-direction: column;
  }

  .contact__info {
    width: 100%;
  }

  .contact__form {
    padding-top: 1em;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .burger-hide {
    transform: translateX(0);
  }
}
@media (max-width: 992px) {
  .burger {
    display: block;
  }

  .header__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 70px;
    left: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
    transition: transform 0.5s;
  }

  .header__list-item {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-bottom: 1px solid #d8d8d8;
  }

  .home {
    background-image: url("https://mmcschool.pl/dist/img/header-small.jpg");
  }

  .future__wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .future__text {
    padding-left: 0;
  }

  .future__img {
    width: 80%;
    height: auto;
  }

  .courses__course {
    width: 33%;
  }

  .community__col1,
  .community__col2 {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .courses__button-box {
    justify-content: center;
  }
  .courses__btn {
    width: 100%;
    margin-bottom: 0.3em;
  }

  .courses__course {
    width: 50%;
  }

  .newsletter__form {
    flex-direction: column;
  }

  .newsletter-name-input,
  .newsletter-email-input,
  .newsletter-send-button {
    margin: 0.4em 1em;
    width: 100%;
  }

  .community__wrapper2col {
    flex-direction: column;
    align-items: center;
  }

  .community__col1,
  .community__col2 {
    width: 100%;
    padding-left: 2em;
  }

  .moreCourses__wrapper__courses {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .moreCourses__card {
    width: 100%;
    margin-bottom: 1em;
  }
}

@media (max-width: 576px) {
  .home__header,
  .home__brand {
    font-size: 2rem;
  }

  .opinions__wrapper > div > a {
    font-size: 1.5rem;
  }

  .courses__course {
    width: 100%;
    padding: 0.2em 1em 0.7em 1em;
  }

  .community-logoimg {
    width: 70%;
    height: auto;
  }

  .community-title {
    margin-left: -1.5em;
    font-size: 2rem;
  }

  .map__timeline ul {
    margin: 0;
  }

  .map__timeline li {
    width: 100%;
  }

  .map__timeline li:nth-child(odd) {
    align-self: center;
    transform: translateX(0px);
  }
  .map__timeline li:nth-child(even) {
    align-self: center;
    transform: translateX(0px);
  }
  .map__timeline::before {
    display: none;
  }
  .map__timeline li::after {
    display: none;
  }

  .newsletter-bg-square-big {
    right: 10px;
  }
  .newsletter-bg-square-small {
    right: 330px;
  }
}
