/* NORMALIZE CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid red; /* DELETE LATER */
}

/* FONT-SIZE */
html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* after it: 1rem=10px, 2rem=20px, 3rem=30px */
}
