@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
/* NORMALIZE CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* FONT-SIZE */
html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* after it: 1rem=10px, 2rem=20px, 3rem=30px */
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 1.6rem;
}

/* ************************** GENERAL ************************** */

:root {
  --main-color: #0076e8;
}

.container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 20px;
}

.section-title-wrapper {
  width: 100%;
}

.section-title {
  font-size: 3.2rem;
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 300;
  border-left: 5px solid var(--main-color);
  padding-left: 0.5em;
  margin: 2em 0;
}

.section-title > span {
  font-weight: bold;
}

.bg-gray {
  background-color: rgb(248, 248, 248);
}

.bg-dark-blue {
  background-color: rgb(0, 118, 232);
}

.mmcLink {
  position: relative;
  color: #000;
  border-bottom: 2px solid var(--main-color);
  font-weight: 700;
  z-index: 0;
  text-decoration: none;
}

.mmcLink:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s;
  z-index: -1;
}

.mmcLink:hover {
  color: #fff;
  transition: color 0.3s;
}

.mmcLink:hover:after {
  transform: scaleY(1);
}

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: 1px solid tomato;
}

/* ************************** HEADER ************************** */

.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  border-bottom: 1px solid #d8d8d8;

  position: fixed;
  top: 0;
  z-index: 10;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.header__list-item {
  padding: 1em;
}

.header__list-item > a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  transition: color 0.3s;
}

.header__list-item > a:hover {
  color: var(--main-color);
}

/* ************************** HOME ************************** */

.home__block-before {
  display: block;
  height: 68px;
}

.home {
  margin-top: 68px; /* beacause of header */
  background-image: url(https://mmcschool.pl/dist/img/header-big.jpg);
  height: 600px;
  background-position: 50% 0%;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.home-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
}

.home__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home__header,
.home__brand {
  color: #ffff;
  z-index: 2;
  font-size: 4rem;
  text-align: center;
}

.home__header {
  font-weight: 300;
  padding-bottom: 0.1em;
}

.home__brand {
  font-weight: 800;
}

.home .container {
  padding: 0;
}

/* ************************** FUTURE ************************** */
.future {
  display: flex;
  flex-direction: column;
}
.future__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.future__text {
  padding-left: 3em;
  font-size: 2rem;
}

.future__text > p {
  padding-bottom: 2em;
}

/* ************************** ACCORDION ************************** */
.accordion {
  display: flex;
  flex-direction: column;
}

.accordion__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-this {
  height: 400px;
  width: 80%;
  background-color: rgb(188, 183, 183);
  font-size: 7rem;
}

/* **************************  OPINIONS ************************** */
.opinions {
  display: flex;
  flex-direction: column;
}

.opinions__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.opinions__wrapper p,
.opinions__wrapper a {
  font-size: 2rem;
  padding-bottom: 0.1em;
}

.opinions__wrapper > div {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
}

/* **************************  COURSES ************************** */
.courses {
  display: flex;
  flex-direction: column;
}

.courses__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* **************************  NEWSLETTER ************************** */
.newsletter {
  display: flex;
  flex-direction: column;
}

.newsletter,
.newsletter__title {
  color: white;
  border-color: white;
}

.newsletter__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.newsletter_textblock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.newsletter_textblock > p {
  font-size: 2rem;
  margin-bottom: 1em;
  line-height: 1.5em;
}

.newsletter__form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.newsletter-name-input,
.newsletter-email-input,
.newsletter-send-button {
  margin-right: 0.5em;
  border-radius: 5px;
  border: none;
  font-weight: 300;
}

.newsletter-name-input,
.newsletter-email-input {
  padding: 0.5em;
  font-size: 2rem;
  width: 300px;
  outline: none;
}

.newsletter-send-button {
  font-size: 1.5rem;
  padding: 0.9em;
  width: 100px;
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

.newsletter-send-button:hover {
  background-color: #000;
}

.newsletter-convert-kit-link {
  margin: 1.2em 0;
}
.newsletter-convert-kit-img {
  width: 110px;
}

.newsletter-privacy-policy {
  text-decoration: none;
  color: rgb(209, 206, 206);
}

.newsletter-bg {
  width: 100%;
  height: 100%;
  position: relative;
}

.newsletter-bg-square-big {
  position: absolute;
  bottom: 50px;
  right: 350px;
  width: 300px;
  height: 300px;
  rotate: 10deg;
  border: 30px solid #097be9;
  border-radius: 10px;
  z-index: 0;
}
.newsletter-bg-square-small {
  position: absolute;
  bottom: 90px;
  right: 670px;
  width: 150px;
  height: 150px;
  rotate: 10deg;
  border: 30px solid #097be9;
  border-radius: 10px;
  z-index: 0;
}

/* **************************  COMMUNITY ************************** */
.community {
  display: flex;
  flex-direction: column;
}

.community__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.community__wrapper p {
  align-self: flex-start;
}

.community__wrapper2col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 1em;
}

.community__col1,
.community__col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  width: 50%;
}

.community-logoimg {
  height: 100px;
}

.community-title {
  text-transform: uppercase;
  padding: 0.5em 0;
}

.community-ul-li {
  padding: 0.3em 0;
}

/* **************************  MAP ************************** */
.map {
  display: flex;
  flex-direction: column;
}

.map__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* **************************  MORE COURSES ************************** */
.moreCourses {
  display: flex;
  flex-direction: column;
}

.moreCourses__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* **************************  CONTACT ************************** */
.contact {
  display: flex;
  flex-direction: column;
}

.contact__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* **************************  FOOTER ************************** */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid tomato;
}

/* .home,
.future,
.accordion,
.opinions,
.courses,
.newsletter {
  display: none;
} */
