<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 404</title>
    <link rel="stylesheet" href="/css/common.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cart">Cart [0]</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </nav>
    <div>
      <h1>Erorr #404</h1>
      <h2>Page not found!</h2>
    </div>
  </body>
</html>
