extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  br
  br
  form(method="post")
    p Kto wygra wybory parlamentarne w 2023?
    input(type='radio' name='quizAnswer' value='answer1')
    label(for='answer1') Prawo i Sprawiedliwość
    br
    input(type='radio' name='quizAnswer' value='answer2')
    label(for='answer2') Koalicja Obywatelska
    br
    input(type='radio' name='quizAnswer' value='answer3')
    label(for='answer3') Konfederacja
    br
    input(type='radio' name='quizAnswer' value='answer4')
    label(for='answer4') Trzecia droga
    br
    input(type='radio' name='quizAnswer' value='answer5')
    label(for='answer5') Lewica i partia razem
    br
    input(type='radio' name='quizAnswer' value='answer6')
    label(for='answer6') Agrounia
    br
    br
    input(type='submit' value='Prześlij')
    
