extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  br
  br
  form(method="post")
    p Kto wygra wybory parlamentarne w 2023?
    input(type='radio' name='quizAnswer' value='pis')
    label(for='pis') Prawo i Sprawiedliwość
    br
    input(type='radio' name='quizAnswer' value='ko')
    label(for='ko') Koalicja Obywatelska
    br
    input(type='radio' name='quizAnswer' value='konfederacja')
    label(for='konfederacja') Konfederacja
    br
    input(type='radio' name='quizAnswer' value='trzeciadroga')
    label(for='trzeciadroga') Trzecia droga
    br
    input(type='radio' name='quizAnswer' value='lewica')
    label(for='lewica') Lewica i partia razem
    br
    input(type='radio' name='quizAnswer' value='au')
    label(for='au') Agrounia
    br
    br
    input(type='submit' value='Prześlij')
    
