body {
  background-color: black;
  color: white;
  height: 60vh;
  font-size: 3rem;
}

button {
  font-size: 2rem;
  padding: 0.5em;
}

.question,
h1,
h2 {
  text-align: center;
}
.question-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answers-box {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.game-won,
.game-lost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.game-won h2 {
  color: green;
}
.game-lost h2 {
  color: tomato;
}

.help-box p {
  margin: 0;
  font-size: 1.3rem;
}

.help-btn {
  font-size: 1.4rem;
  background-color: goldenrod;
}
.help-btn:hover {
  cursor: pointer;
  background-color: gold;
}
.help-btn:disabled {
  background-color: goldenrod;
  cursor: not-allowed;
}
